@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: LEMONMILK;
    font-weight: 500;
    src: url(/src/assets/LEMONMILK-Medium.otf) format("otf");
  }

  body {
    margin: 0;
    padding: 0;
    height: 100vh;
  }

  .title-left {
    position: absolute;
    bottom: 100px;
    left: 220px;
  }

  .title-right {
    position: absolute;
    top: 350px;
    right: 180px;
  }
}
